#include "resource.h"

BongEditor  MENU
BEGIN
POPUP "&File"
BEGIN
MENUITEM "&Options", ID_FILE_OPTIONS
MENUITEM "&Open", ID_FILE_OPEN103
MENUITEM "&Save", ID_FILE_SAVE104
MENUITEM "Save &As", ID_FILE_SAVEAS
MENUITEM "E&xit", ID_FILE_EXIT
END
POPUP "&Options"
BEGIN
MENUITEM "&Grid", ID_OPTIONS_GRID
MENUITEM "&Minimap", ID_OPTIONS_MINIMAP
MENUITEM "&Map Options", ID_OPTIONS_MAP
END
POPUP "&Round"
BEGIN
MENUITEM "&Round 1", ID_ROUND_1
MENUITEM "&Round 2", ID_ROUND_2
MENUITEM "&Round 3", ID_ROUND_3
MENUITEM "&Omnipresent", ID_ROUND_OMNIPRESENT
END
POPUP "&Help"
BEGIN
MENUITEM "&About", ID_HELP_ABOUT
MENUITEM "&Maximums", ID_HELP_MAXIMUMS
END
END

// Define the dialog resource
IDD_MAP DIALOGEX 0, 0, 200, 200
CAPTION "Map Options"
FONT 8, "MS Shell Dlg"
BEGIN
// Add other controls as needed
END